body {
  margin: none;
  padding: none;
  background-color: #353535;
}
.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 15px 10px;
  margin: 10px;
}
